/* whole */

*{
  margin:0 ;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;

}
li{
  list-style: none;
}

html{
  overflow: auto;
}

body{
  background-color: rgba(0, 0, 0, 0.8);
  overflow: hidden;
}

h2{
  color: white;
  font-size: 30px;
  text-align: center;

}
p{
  color: white;
}


/* first-display */

.first-display{
  width: 100vw;
  height: 100vh;
}

/*header */



header{
display: flex;
justify-content: space-between;
  padding:20px 40px ;
  align-items: center;
margin-bottom: 300px;
}



.title{
  color: white;

}


.icon-img{
  width: 100px;
  height: 100px;
  border-radius: 50px;

}

.inlink{
  color: white;
  margin-right: 30px;
  font-size: 25px;
}
.inlink:hover{
  opacity: 0.7;
}

.lis{
  display: flex;

}


/* main */

/* .main-text{
  margin-bottom: 600px;
} */

.site-name{
  color: white;
font-size: 40px;
}

.site-introduct{
  color: white;
  font-size: 25px;
  text-align: center;
  animation-name: fadeup;
  animation-duration: 3s;
  animation-iteration-count: 1;

}





.main-contents{
  max-width: 1200px;
  margin: 100px auto 0 auto;
  padding: 0 20px;
}

/* work */



.works{
  margin-top: 50px;
display: grid;
max-width: 1200px;

grid-template-columns: 1fr 1fr;
}

.work{
  margin-bottom: 100px;

}

.work img:hover{
  opacity: 0.7;
}

.work img{

width: 95%;
height: 300px;
}

/* about */
#about{
  margin-bottom: 300px;
}

.about-img{
  width: 150px;
  height: 150px;
  border-radius: 100px;
  margin-right: 50px;
}

.about-contents{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.about-texts p{
  margin-bottom: 8px;
}


/* blog */

#Blog{
  margin-bottom: 300px;
}

.blog-title{
  margin-bottom: 50px;
}

.blog-img{
  width: 100%;
}

.blog-img:hover{
  opacity: 0.7;
}


/* contact */

#contact{
  height: 600px;
}

.contact-text{
text-align: center;
}

.contact-link:hover{
opacity: 0.7;
}



/* animation */


@keyframes fadeup {
  from {
      opacity: 0;
      transform: translateY(20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
  }

/* fadeIn */

.fadeIn{
  opacity: 0;
  transition: all .5s ease;
  transform: translate(0, 100px);
}

.fadeIn.show {
  opacity: 1;
  transform: none;
}